.table {
    border: 1px solid #080b40;
    width: min-content;
}

.row {
    display: flex;
}

.square {
    height: 50px;
    width: 50px;
    border: 1px solid #080b40;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square-text {
    font-size: 25px;
}
